@import "tailwindcss";

:root {
	--background: "#0a0a0a";
	--surface: "#1a1a1a";
	--primary: "#0ea5e9";
	--secondary: "#8b5cf6";
	--tertiary: "#ec4899";
	--content: "#ddd";
	--hover: "#b131fa";
	--title: "#ddd";
}

@theme {
	--font-robo: var(--font-roboto-mono);
  --color-background: var(--background)
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-tertiary: var(--tertiary);
	--color-content: var(--content)
	--color-hover: var(--hover);
	--color-title: var(--title);
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-robo);
	color: var(--title-color);
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}
